@import "./../../styles/variables";
@import "./../../styles/mixins";

.col-box {
  @include box;
  margin-bottom: 20px;
}

.aside-title {
  @include title;
  font-size: 0.9em;
  padding: 7px 0 7px 0;
  background: url("./../../assets/icons/arrows.png") $color-blue no-repeat 12px
    9px;
  background-size: 12px auto;
}
