<aside class="col-box">
  <h1 class="aside-title">Make a Transfer</h1>
  <section>
    <ng-container *ngIf="!showSummary">
      <app-transfers-form
        [balance]="balance"
        (formSubmit)="onFormSubmitting($event)"
      ></app-transfers-form>
    </ng-container>
    <ng-container *ngIf="showSummary">
      <app-transfers-summary
        [balance]="balance"
        [transaction]="transaction"
        (transferMade)="onTransferIsMade($event)"
        (cancel)="onTransferCancellation()"
      ></app-transfers-summary>
    </ng-container>
  </section>
</aside>
