<aside class="col-box">
  <h1 class="aside-title">Make a Transfer</h1>
  <section>
    <form>
      <div class="form-group">
        <label for="fromAccount">FROM ACCOUNT</label>
        <input
          type="text"
          id="fromAccount"
          aria-describedby="emailHelp"
          placeholder="Free Checking"
        />
      </div>
      <div class="form-group">
        <label for="toChecking">TO CHECKING</label>
        <input type="text" id="toChecking" placeholder="Company" />
      </div>
      <div class="form-group">
        <label for="amount">AMOUNT</label>
        <input type="text" id="amount" placeholder="$0.00" />
      </div>
      <button type="submit" class="btn">Submit</button>
    </form>
  </section>
</aside>
