<div class="grid-sort-padding">
  <div class="row">
    <div class="col-md-5">
      <input
        type="text"
        id="filter"
        aria-describedby="search"
        [(ngModel)]="filter"
        placeholder="Search by typing..."
        (ngModelChange)="mychange($event)"
      />
    </div>
    <div class="col-md-2 sortBy">Sort by</div>
    <div class="col-md-5 sortButtons">
      <div class="buttons">Date</div>
      <div class="buttons">Beneficiary</div>
      <div class="buttons">Amount</div>
    </div>
  </div>
</div>
