@import "./../../../styles/variables";

.grid-sort-padding {
  padding: 12px 0 12px 0;
  font-size: 0.8em;
}

.buttons {
  border-top: 1px solid $color-lightgray;
  border-bottom: 1px solid $color-lightgray;
  border-left: 1px solid $color-lightgray;
  padding: 3px 10px 3px 10px;
  &:hover {
    background-color: $color-lightgray;
    cursor: pointer;
  }
  &:last-child {
    border-right: 1px solid $color-lightgray;
  }
}

.sortBy {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-weight: 500;
}

.sortButtons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

input {
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid $color-gray;
  line-height: 30px;
  width: 100%;
  opacity: 60%;
}

@media screen and (min-width: $mobile) {
  .buttons {
    padding: 3px 10px 3px 10px;
  }
}

@media screen and (min-width: $tablet) {
  .buttons {
    padding: 4px 15px 4px 15px;
  }
}
@media screen and (min-width: $desktop) {
  .buttons {
    padding: 4px 25px 4px 25px;
  }
}
