<div class="grid-sort-padding">
  <div class="row">
    <div class="col-md-5">
      <input
        type="text"
        id="filter"
        aria-describedby="search"
        [(ngModel)]="filter"
        (ngModelChange)="mychange($event)"
        placeholder="Search by typing..."
      />
    </div>
    <div class="col-md-2 sortBy">Sort by</div>
    <div class="col-md-5 sortButtons">
      <div class="buttons" (click)="colSortFunc('transactionDate')">Date</div>
      <div class="buttons" (click)="colSortFunc('merchant')">Beneficiary</div>
      <div class="buttons" (click)="colSortFunc('amount')">Amount</div>
    </div>
  </div>
</div>
