// colors
$color-orange: #ee7033;
$color-blue: #0c8397;
$color-gray: #bcbab7;
$color-lightgray: #cdcdcd;
$color-darkgray: #999;
$color-dark: #000;
$color-white: #fff;
$color-alert: #ff4500;

// shadow
$shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.34);

// breakpoints
$mobile: "576px";
$tablet: "767px";
$desktop-sm: "980px";
$desktop: "1240px";
$desktop-large: "1420px";

// fonts
$font-basic: "Kanit", sans-serif;
