@import "../../src/styles/variables";

.header {
  height: 70px;
  background-color: $color-white;
  border-bottom: 3px $color-orange solid;
  margin-bottom: 30px;
  img {
    max-width: 270px;
    padding: 10px 0 0 0;
  }
}

@media screen and (min-width: $desktop-sm) {
  .header {
    margin-bottom: 60px;
  }
}
